{% load stringutils comments i18n %}

<div id="comment-form">
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  <div>{% if next %}
          <input type="hidden" name="next" value="{{ next }}" />
       {% else %}
          <input type="hidden" name="next" value="{{ form.target_object.get_absolute_url }}" />
       {% endif %}</div>

    {% if form.errors %}
      <h1>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
      {{ form.non_field_errors }}
    {% endif %}

  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ field.label_tag }} {{ field }}
      </p>
    {% endif %}
  {% endfor %}


  <div id="comment-help-button"><a onclick="$('#comment-help').toggle(50)">{% trans "Help ?"%}</a></div>
  
  <div id="comment-help">
    <p>{% trans "Fill at least one of the three first fields (name, email or url)"%}</p>
    <p>{% trans "Some elements of the Markdown syntax are supported :"%}</p>
    <p><strong>{% trans "__bold__ **bold**" %}</strong><br/>
      <em>{% trans "_italic_ *italic*" %}</em><br/>
      <a href="">{% trans "(link)[http://url]"%}</a></p>
    <p>{% trans "HTML code is <strong>not</strong> allowed"%}</p>
  </div>

  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans 'Post' %}" />
    <input type="submit" name="preview" class="submit-preview" value="{% trans 'Preview' %}" />
  </p>
</form>

</div>
