{% load markup i18n %}

<div class="list" id="comments">
  {% for comment in comment_list %}
    <article class="item {% if comment.content_owner %}content_author{% endif %}" id="c{{ comment.id }}">
      {% if comment.user %}
        <strong><a href="{{ comment.user.get_absolute_url }}">{{ comment.user }}</a></strong>
      {% else %}
          <strong>
            {% if comment.url %}
               <a href="{{ comment.url }}">{{ comment.identifier }}</a>
            {% else %}
               {{ comment.identifier }}
            {% endif %}
          </strong>
      {% endif %}
        <a href="{{ comment.get_absolute_url}}">
        <time datetime="{{ comment.submit_date }}">{{ comment.submit_date|timesince }} ago</time>
        </a>
      <img src="{{ comment.get_avatar_url }}" width="{{ comment.AVATAR_SIZE }}" height="{{ comment.AVATAR_SIZE }}" alt="{% trans 'Avatar of comment' %} #{{ comment.id }}" class="avatar" />
      {{ comment.comment_html|safe }}

      <p class="byline">
        {% if comment.still_editable %}
          {% if comment.session_id == request.session.session_key %}
          <a class="edit" href="{% url comments-edit comment.id %}">{% trans "Edit" %}</a>
          <a class="remove" href="{% url comments-remove comment.id %}">{% trans "Remove" %}</a>
          {% endif %}
        {% endif %}
      </p>
    </article>
  {% endfor %}
</div>
