{% extends "default.html" %}

{% block title %}About Kopi{% endblock %}

{% block body %}
<h2>What is Kopi ?</h2>
<p>Kopi is an open source blogging software in <a href="http://python.org/">Python</a> using the framework <a href="http://docs.djangoproject.com/">Django</a>. All the code can be found on <a href="https://gitorious.org/scripts-and-stuff/django-kopi">Gitorious</a>, feel free to fork it but mostly to improve it.</p>

<h2>Why not Wordpress ?</h2>
<p>I have been using Wordpress for a long time. It was ok but I feld like using a tank. Also there was some tweaking I wanted to do and looking at that wordpress code made me cry blood (did I told you I don't like PHP ?). I love Django and thaught that with a few lines of code and hours, I could have something that suits all my needs. I admit, it was more than just a few lines and hours.</p>

<h2>Why named Kopi ?</h2>
<p>Kopi is coffee in Indonesian, as I will certainly die of a hart attack drinking too much of it, I think it deservered it. Also "Kopi" sounds like "copy", which you can all do about my articles and code. Free licences inside.</p>
{% endblock %}