{% extends "blog/base_blog.html" %}

{% load markup humanize i18n inlines_tags %}

{% block title %}Archive des articles{% endblock %}
{% block body_class %}{{ block.super }} post_list{% endblock %}


{% block content_title %}
  <h2>{% trans "List of articles"%}</h2>
{% endblock %}


{% block content %}
  {% load comments %}
  
    {% for post in object_list %}
    <section class="main wrapper clearfix">
      {% get_comment_count for post as comment_count %}
      <article class="blog_post">
        <h1><a href="{{ post.get_absolute_url }}" title="{% trans 'Read this article' %}">{{ post.title }}</a></h1>
        {% if forloop.first or not post.tease %}
          <div class="post_body">{{ post.body_html|render_inlines }}</div>
        {% else %}
          <div class="post_body">{{ post.tease_html|render_inlines }}</div>
        {% endif %}
      </article>

        <aside>
          <div class="author">
            <strong>{% trans "Author" %}</strong>
            {% if post.author.url %}
               <a href="{{ post.author.url }}" title="{% trans "About" %} {{ post.author }}">{{ post.author }}</a>
            {% else %}
               {{ post.author }}
            {% endif %}
          </div>
          <div class="date">
            <strong>{% trans "Date" %}</strong>
            <time datetime="{{ post.publish|date:"Y-m-j H:i" }}">{{ post.publish|naturaltime }}</time>
          </div>
          <div class="coms">
            <strong>
              <a href="{{ post.get_absolute_url }}#comments">{% blocktrans count cpt=comment_count %}{{ cpt }} comment{% plural %}{{ cpt }} comments{% endblocktrans %}</a>
            </strong>
          </div>
        </aside>
    </section>
    {% endfor %}
  
  {% if is_paginated %}
  <p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}" title="{% trans 'read previous article' %}">{% trans "Before" %}</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}" title="{% trans 'read next article' %}">{% trans "After" %}</a>
    {% endif %}
  </p>
  {% endif %}
{% endblock %}
