{% extends "blog/base_blog.html" %}

{% load markup humanize i18n %}

{% block title %}Archive des articles{% endblock %}
{% block body_class %}{{ block.super }} post_list{% endblock %}


{% block content_title %}
  <h2>Archive des articles</h2>
{% endblock %}


{% block content %}
  {% load comments %}
  
  <section class="list post_list">
    {% for post in object_list %}
      {% get_comment_count for post as comment_count %}
      <article class="blog_post">
        <h1><a href="{{ post.get_absolute_url }}" title="{% trans "Read this article" %}">{{ post.title }}</a></h1>
        {% if forloop.first %}
          <div class="post_body">{{ post.body|markdown }}</div>
        {% else %}
          <div class="post_body">{{ post.tease|markdown }}</div>
        {% endif %}
      </article>
      {% if forloop.first %}
        <aside>
          <div class="author">
            <strong>{% trans "Author" %}</strong>
            {{ post.author }}
          </div>
          <div class="date">
            <strong>{% trans "Date" %}</strong>
            <time pubdate datetime="{{ post.publish|date:"j-m-Y H:i" }}">{{ post.publish|naturaltime }}</time>
          </div>
          <div class="coms">
            <strong>{% blocktrans count cpt=comment_count %}{{ cpt }} comment{% plural %}{{ cpt }} comments{% endblocktrans %}</strong>
          </div>
        </aside>
      {% endif %}
    
    {% endfor %}
  </section>
  
  {% if is_paginated %}
  <p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}" title="{% trans 'read previous article' %}">{% trans "Before" %}</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}" title="{% trans 'read next article' %}">{% trans "After" %}</a>
    {% endif %}
  </p>
  {% endif %}
{% endblock %}