{% extends "blog/base_blog.html" %}

{% load comments markup humanize i18n inlines_tags %}

{% block title %}{{ current_post.title }}{% endblock %}
{% block body_class %}{{ current_post.super }} post_detail{% endblock %}
{% block body_id %}post_{{ current_post.id }}{% endblock %}

{% block blog_post %}

  {% get_comment_count for current_post as comment_count %}

  <article class="blog_post">
    <h1>{{ current_post.title }}</h1>
    <p class="other_posts">
      {% if current_post.get_previous_post %}
      <a class="previous" href="{{ current_post.get_previous_post.get_absolute_url }}" title="{% trans "View previous post" %}">&laquo; {{ current_post.get_previous_post }}</a>
      {% endif %}
      {% if current_post.get_next_post %}
      | <a class="next" href="{{ current_post.get_next_post.get_absolute_url }}" title="{% trans "View next post" %}">{{ current_post.get_next_post }} &raquo;</a>
      {% endif %}
    </p>
    <div class="post_body">
      {{ current_post.body_html|render_inlines }}
    </div>
  </article>
  <aside>
    <div class="author">
      <strong>{% trans "Author" %}</strong>
      {{ current_post.author }}
    </div>
    <div class="date">
      <strong>{% trans "Date" %}</strong>
      <time pubdate datetime="{{ current_post.publish|date:"j-m-Y H:i" }}">{{ current_post.publish|naturaltime }}</time>
    </div>
    <!--<div class="tags">
      <strong>Tags</strong>
      <ul>
        <li><a href="#">Voyage</a></li>
        <li><a href="#">Couchsurfing</a></li>
        <li><a href="#">Culture</a></li>
      </ul>
    </div>-->
    <div class="coms">
      <strong>{% blocktrans count tot=comment_count %}{{ tot }} comment{% plural %}{{ tot }} comments{% endblocktrans %}</strong>
      <!--<ul>
        <li><a href="#">11:34 machin</a></li>
        <li><a href="#">10/02 truc</a></li>
        <li><a href="#">09/02 bidule</a></li>
      </ul>-->
    </div>
  </aside>
  
{% endblock %}

{% block comments %}

{% render_comment_list for current_post %}

{% if current_post.allow_comments %}
    {% render_comment_form for current_post %}
  {% else %}
    <div id="comment-form">
      <h3>{% trans "Comments are closed" %}.</h3>
      <p>{% trans "Comments have been closed for this post" %}.</p>
    </div>
  {% endif %}

{% endblock %}
