html {
    font-size: 100%;
}

body {
    overflow-y: scroll;
    font-family: Cantarell;
    background-color: #F8F8F8;
    color: #222;
    line-height: 1.231;
    width: 900px;
    margin: auto;
}

    
.feed {
    float: right;
    margin-top: 20px;
    margin-right: 0px;
    overflow:hidden;
    width:77px;
}

.feed:hover {
    width:77px;
}

header #banner {
    background-color: #F8F8F8;
    padding: 0;
}

header #banner h1 {
    font-size: 3em;
}

header nav {
    background-color: #669900;
}

header nav a {
    color: #F8F8F8;
}

header nav a:hover {
    color: #F8F8F8;
    background-color: #69983A;
}

/* some info related to the article */
section aside {
    /* left border */
    border-left: 2px dotted #ccc;
    margin-left: -10px;
    padding-left: 10px;
}
section aside a {
    color: #69983A;
}

section .blog_post h1 {
    border-bottom: 2px dotted #ccc;
}


a {
    text-decoration: none;
}

a:hover {
    color: #69983A;
    text-decoration: none;
}

